<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% for link in collections.stylesheet -%}<link rel="stylesheet" media="{{ link.data.media }}" href="{{ link.url }}" />{%- endfor %}
    <script src="/main.js"></script>
    <title>Spotify Workers</title>
  </head>
  <body>

    {% include "header.njk" %}

     {% for episode in collections.episode | reverse | limit(0, 1) -%}
      <article class="episode-article episode-latest">
        <h1 class="episode-title episode-title-latest">
          <span class="episode-title-latest-prefix">
            Podcast
          </span>
          <span class="episode-title-latest-title">
            {{ episode.data.title }}
          </span>
        </h1>

        <iframe
          class="episode-embed"
          src="https://open.spotify.com/embed/episode/{{ episode.data.spotify }}"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>

      </article>
    {% endfor %}

    <div class="previous-episodes">

      <h2 class="previous-episodes-title">
        Previous episodes
      </h2>

      {% for episode in collections.episode | reverse | limit(1, 999) -%}
        <article class="episode-article episode-archive">
          <h3 class="episode-title">
            {{ episode.data.title }}
          </h3>

          <iframe
            class="episode-embed"
            src="https://open.spotify.com/embed/episode/{{ episode.data.spotify }}"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
          ></iframe>

        </article>
      {% endfor %}

    </div>

    <footer>
      {% include "footer-organisations.njk" %}
      {% include "footer-socials.njk" %}
      {% include "footer-policies.njk" %}
    </footer>

  </body>
</html>