<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>

    {% include "header.njk" %}

    <main class="article">
      <h1 class="article-title">
        {{ name }}
      </h1>

      <div class="article-content">
        {{ content | safe }}
      </div>
    </main>

    <footer>
      {% include "footer-organisations.njk" %}
      {% include "footer-socials.njk" %}
      {% include "footer-policies.njk" %}
    </footer>

  </body>
</html>