<div class="footer-section">
  <h2>Policies</h2>

  <ul>
    {% for policy in collections.policy -%}
      <li>
        <a class="conduct" href="{{ policy.permalink }}">
          {{ policy.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>