<header class="header">
  <div class="header-wrapper">
    <img class="header-shuffle" role="presentation" src="/header-shuffle.png" />

    <div class="header-name">
      Spotify Workers
    </div>

  </div>

</header>