<header class="header">
  <div class="header-wrapper">
    <a href="/" class="header-shuffle" aria-label="home">
      <img class="header-shuffle-image" role="presentation" src="/header-shuffle.png" />
    </a>

    <div class="header-name">
      <a class="header-name-link" href="/">
        Spotify Workers
      </a>
    </div>

  </div>

</header>