<section class="placeholder">
    <h1>Welcome!</h1>
    <p>
        This is a placeholder website for worker organizations at Spotify. It is maintained by
        <a href="/unionen">Spotify Workers Unionen</a>, the Swedish local club representing Spotify employees who are members of Unionen.
    </p>
    <p>If you are a Spotify employee who wants to reach out to your local representatives, please refer to #spotifyworkers
        on Slack.</p>
</section>