<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% for link in collections.stylesheet -%}<link rel="stylesheet" media="{{ link.data.media }}" href="{{ link.url }}" />{%- endfor %}
    <title>{{ title }}</title>
  </head>
  <body>

    {% include "header.njk" %}

    <article class="policy">
      <h1 class="name">
        {{ title }}
      </h1>
      <div class="content">
        {{ content | safe }}
      </div>
    </article>

    <footer>
      {% include "footer-socials.njk" %}
      {% include "footer-policies.njk" %}
    </footer>

  </body>
</html>